
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    font-size: 1.5em;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navbar ul li a:hover {
    color: green;
    border: 2PX solid green;

}

.toggle-button {
    display: none;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links.active {
        display: block;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .toggle-button {
        display: block;
    }

    .navbar ul {
        flex-direction: column;
        padding: 0;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}
